<div class="container">
  <%=  simple_form_for [blog, blog_post, comment] do |f| %>
    <%= f.input :content, label: false, placeholder: "Your comments", class:"form-control" %>
    <%= f.button :submit, "Submit", class:"btn btn-dark"%>
  <% end %>
</div>
