<div class="container">
  <%=  simple_form_for([blog, blog_post, comment], data: {insert_in_list_target: "form", action: "submit->insert-in-list#send"}) do |f| %>
    <%= f.input :content, label: false, placeholder: "Your comments", class:"form-control" %>
    <%= f.button :submit, "Submit", class:"btn btn-dark"%>
  <% end %>
</div>
