// Specific CSS for your home-page
body {
  overflow-x: hidden;
}

.video-back {
  height: 650px;
  display: flex;
  flex-direction: column;
  background: $video-overlay;
}

.home_video {
  width: 100vw;
  height: 650px;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: cover;
  z-index: -1;
}

.brand-action {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 200px;
  color: $home-collor-normal;
}

.brand-action h1 {
  font-family: $Home-font-family;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 5px;
}

.brand-action h4 {
  font-family: $Home-font-family;
  font-weight: 300;
  font-size: 24px;
}

.brand-action button {
  font-family: $Home-font-family;
  background: transparent;
  padding: 13px;
  border-radius: 50px;
  border: 1px white solid;
  color: $home-collor-normal;
  font-weight: bold;
  margin-top: 20px;
  transition: 0.4s ease;
}

.button-text {
  text-decoration: none;
  font-family: $Home-font-family;
  color: white;
  font-weight: bold;
}

.button-text:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.brand-action button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
  font-family: $Home-font-family;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.carousel-box {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  color: $home-collor-dark;
  font-family: $Home-font-family;
  background: white;
}

.job-teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  color: $home-collor-dark;
  font-family: $Home-font-family;
}

.carousel-box h3 {
  font-weight: 900;
  font-size: 40px;
  font-family: $Home-font-family;
}

.job-cardA {
  height: 350px;
  width: 650px;
  max-width: 1050px;
  border-radius: 25px;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  box-shadow: 5px 5px 5px $box-shadow;
  background-image: $image-overlay-job, asset-url('job-card-background_1.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-cardB {
  height: 350px;
  width: 650px;
  max-width: 1050px;
  border-radius: 25px;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  box-shadow: 5px 5px 5px $box-shadow;
  background-image: $image-overlay-job, asset-url('office1.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-cardC {
  height: 350px;
  width: 650px;
  max-width: 1050px;
  border-radius: 25px;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  box-shadow: 5px 5px 5px $box-shadow;
  background-image: $image-overlay-job, asset-url('office2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#next {
  background: none;
  border-radius: 25px;
}

#prev {
  background: none;
  border-radius: 25px;
}

// .job-card-A{
//   height: 400px;
//   width: 65%;
//   max-width: 1050px;
//   border-radius: 25px;
//   margin-top: 5%;
//   font-family: $Home-font-family;
//   color: $home-collor-normal;
//   box-shadow: 5px 5px 5px $box-shadow;
//   background-image: $image-overlay-job, asset-url('job-card-background_1.jpg');
//   background-size: cover;
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 40px;
// }

.carousel-item {
  background:none;
  border-radius: 25px;
  padding: 10px;
}

.carousel-inner {
  background:none;
  border-radius: 25px;
  padding: 10px;
}

.job-card-text {
  padding: 30px, 0px;
  margin-left: 100px;
  margin-right: 100px;
}

.job-card-text div {
  margin-top: 20px;
}

.company_details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.company_details h6 {
  font-size: 24px;
  margin: 0;
  margin-left: 25px;
  font-weight: 500;
}

.logo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.job-card-text h4 {
  font-weight: bold;
  font-size: 30px;
  font-family: $Home-font-family;
  margin: 0;
}

.job-card-text h5 {
  font-weight: bold;
  font-size: 18px;
  font-family: $Home-font-family;
}

.get-started {
  background: $background-spacer;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started h3 {
  font-weight: bold;
  font-size: 40px;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  margin-top: 40px;
  margin-bottom: 30px;
}

.explain-text {
  position: relative;
  height: 300px;
  width: 65%;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  overflow-y: auto;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  margin-bottom: 40px;
}

.flex-box button {
  height: 100px;
  width: 200px;
  padding: 20px;
  border-radius: 25px;
  margin-top: 60px;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  font-weight: bold;
  font-size: 25px;
  background: $button-transparent-dark;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px $box-shadow;
}

.flex-box button .button-text {
  margin: 0;
  font-size: 22px;
}

.flex-box button:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.cardA {
  border-radius: 15px;
  height: 600px;
  width: 480px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px $box-shadow;
  background-image: asset-url('developer.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardB {
  border-radius: 15px;
  height: 600px;
  width: 480px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px $box-shadow;
  background-image: asset-url('recruiter.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testamonial {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.testamonial-box {
  width: 80%;
  max-width: 1050px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $testamonial-background;
  border-radius: 15px;
  align-items: center;
  box-shadow: 5px 5px 5px $box-shadow;
  overflow-y: auto;
}

.face {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 20px;
}

.testamonial-text {
  margin: 30px;
}
.testamonial-text p {
  margin: 10px;
}

.testamonial-text h6 {
  color: $home-collor-normal;
  font-family: $Home-font-family;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin: 0;
}

.popular-blogs {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background-spacer;
  display: flex;
  flex-direction: column;
}

.headline h3 {
  font-weight: bold;
  font-size: 40px;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  margin-bottom: 50px;
}

.blog_video {
  width: 100%;
  height: 500px;
  justify-content: center;
  object-fit: cover;
  border-radius: 15px;
}

.blog-preview {
  height: 500px;
  width: 60%;
  max-width: 1200px;
  background: $video-overlay;
  text-align: center;
  align-items: center;
  position: relative;
}

.blog-text {
  position: absolute;
  font-family: $Home-font-family;
  color: $home-collor-normal;
  z-index: 8;
  top: 60px;
  left: 10%;
}

.blog-text h3 {
  font-weight: 600;
  font-size: 28px;
  border-bottom: $home-collor-normal solid 0.5px;
}

.blog-text h5 {
  font-weight: 500;
  font-size: 16px;
}

.blog-text h6 {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 10px;
}

.blog-text p {
  font-weight: 100;
  font-size: 16px;
}

// Waves effect

.wave-container {
  background: $background-spacer;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}

// wave effect end
