<div class="container">
  <%= link_to "New Post", new_blog_blog_post_path(@blog), class: "btn btn-primary" %>
  <% @blog_posts.each do |blog_post| %>
    <%=  render "blog_post", blog_post: blog_post %>
  <% end %>

  <%=  link_to "Back", blogs_path, class: "btn btn-primary" %>
</div>
