<div class="job-summary" data-edit-job-posting-target="summary">
  <div data-edit-job-posting-target="infos"><h5>Summary <button aria-label="Edit summary"><i class="fa-solid fa-pen" data-action="click->edit-job-posting#displayForm"></i>
  </button></h5>
  <p><%= job.summary %></p>
  <%# cannot use @job inside partial %>
  </div>

  <%= simple_form_for job,
  html: {
    class: "d-none",
    data: {
      edit_job_posting_target: "form",
      action: "submit->edit-job-posting#updateSummary"
    }

  } do |f| %>

    <%= f.input :summary %>
    <%= f.button :submit, "Submit", class:"btn1 mt-3 mb-3"%>
  <% end %>
</div>
