<div data-edit-job-posting-target="content">
  <div data-edit-job-posting-target="contentinfos">
    <p><%= @job.content.html_safe %><button aria-label="Edit content"><i class="fa-solid fa-pen" data-action="click->edit-job-posting#displayFormContent"></i>
  </button></p>
  </div>

<%= simple_form_for job,
  html: {
    class: "d-none",
    data: {
      edit_job_posting_target: "formcontent",
      action: "submit->edit-job-posting#updateContent"
    }

  } do |f| %>

    <%= f.input :content %>
    <%= f.button :submit, "Submit", class:"btn1 mt-3 mb-3"%>
  <% end %>

</div>
