

<div class="container">
  <div class="d-flex justify-content-between">
    <div class="home-bar-item">
      <form class="input-group rounded">
        <input class="form-control rounded" name="query" type="search" placeholder="Search" autocomplete="off" aria-label="Search" value="<%= params[:query] %> ">
        <button class="input-group-text border-0" type="submit">Search</button>
      </form>
    </div>
    <div class="home-bar">
      <div class="home-bar-item"><button type="button" class="input-group-text border-0"><i class="fa-solid fa-plus"></i><%= link_to "Post a job", new_job_path if policy(Job).new? %></button></div>
    </div>
  </div>




<h1>New job opportunities</h1>
  <% @jobs.each do |job| %>
    <%= link_to job.title, job_path(job) if policy(Job).show? %>

  <% end %>
</div>
