<div class="container">
  <div class="new-opportunities-heading">
    <p>New job opportunities</p>
    <div class="post-a-job">
      <button type="button" class="btn btn-light
      input-group-text border-0 new-job-button">
        <%= link_to "+ Post a job", new_job_path if policy(Job).new?  %>
      </button>
    </div>
  </div>
  <div class="container-list-and-filter row">
      <div class="job-listings-container col-9">
          <div class="row">
            <% @jobs.each do |job| %>
            <%= render "job", job: job %>
            <% end %>
          </div>
      </div>
    <%= render "filter" %>
  </div>
</div>
