<div class="alert alert-info alert-dismissible fade show" role="alert" id="new-message-response">
  You have a new
  <%= link_to "response!", "/dashboard?tab=responses" %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
