.category-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-blue;
  min-width: 220;
  min-height: 110;
  transition: 0.4s ease-in-out;
}

.category-info h1{
  font-family: $Home-font-family;
  font-weight: 200;
  font-size: 20px;
  color: $text-light;
}

.category-card:hover{
  transform: scale(0.9);
}

.category-card:focus{
  transform: scale(0.8);
}
