.comment-wrapper {
  margin-bottom: 20px;
  padding: 10px;
  background-color:white;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.comment {
  margin-bottom: 20px;
  padding: 10px;

  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.comment-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-position: center;
  object-fit: cover;
}

.comment .header-info a{
  font-size: 14px;
  font-weight: 400;
}

.comment .header-info a:hover{
  font-size: 14px;
  color: #999;
}

.comment .header-info p {
  font-size: 12px;
  color: #999;
  font-weight: 400;
}

.comment p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.reply {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  text-decoration: none;
}
// sub-comment
.sub-comment {
  margin-top: 20px;
  margin-left: 20px;
}

.sub-comment .comment{
  border-left: 3px solid #E0E0E0;
}
