#v-pills-tab button {
  width: 80px;
  height: 10%;
}

#dashboard {
  height: 800px;
}

#v-pills-tab {
  height: 100%;
  background-color: #393E46;
}

.chat-window {
  width: 600px;
}
#new_private_message {
  width: 95%;
  padding-left: 20px;
}
// .tab-content {
//   width: 100%;
// }

#v-pills-tab-chat {
  height: 100%;
  background-color: #f5f5f5;
}

// #v-pills-tabContent-chat .tab-pane {
//   width: 100%;
// }

// #v-pills-messages #v-pills-tab-chat {

// }

// .tab-pane {
//   padding: 20px;
// }
