#v-pills-tab button {
  width: 80px;
  height: 10%;
}

#dashboard {
  height: 1500px;
}

#v-pills-tab {
  height: 100%;
  background-color: #393E46;
}

.chat-window {
  width: 600px;
}
#new_private_message {
  width: 95%;
  padding-left: 20px;
}
// .tab-content {
//   width: 100%;
// }
#v-pills-tabContent {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
}

#v-pills-tab-chat {
  height: 100%;
  width: 20%;
  background-color: #f5f5f5;
}

#v-pills-tabContent-chat {
  height: 100%;
  width: 80%;
  background-color: white;
}

.tip {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #F8F8F8;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.tab-pane.fade.active.show h3 {
  margin-top: 10px;
  font-weight: bold;
}

#v-pills-tabContent-chat .tab-pane {
  width: 100%;
}

// #v-pills-messages #v-pills-tab-chat {

// }

// .tab-pane {
//   padding: 20px;
// }
