.search-filters-container {
  border: 1px solid lightgray;
  margin-bottom: 24px;
  padding: 32px;
  border-radius: 10px;
}

.filter-header {
  font-size: 24px;
  font-weight: 600;
}

.input-field-search {
  background-color: white;
}
