.search-filters-container {
  border:  1px solid lightgray;
  padding: 32px;
  border-radius: 10px;
  height: 50%;
  margin-bottom: 30px;
}

.filter-header {
  font-size: 24px;
  font-weight: 600;
}

.search-form.location {
  margin-bottom: 30px;
}

.search-form-and-filter-buttons{
  display: flex;
}

.input-field-search {
  background-color: white;
  margin: 20px 0;
}

.tags {
  display: inline-block;
}

.tag-button {
  position: absolute;
  transform: scale(0);
}

.tag-button + label {
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
  padding: 0.1rem 0.5rem;
  background-color: #9dcced;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.form-check {
  padding : 0;
}

.form-check-label a {
  all: unset;
}

.search-button-filter {
  display: flex;
  justify-content: center;
  margin-left: 0 !important;
  border-radius: 30px !important;
  margin-top: 10px;
}
.search-button-filter {
  border-radius: 30px;
  width: 100%;
}

.search-button-filter:hover {
  background-color: #042454;
  color: white
}
