.apply-button {
  text-align: center;
  background-color: #245C7C;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  padding: 5px 20px;
  transition: background-color .2s,
  background-position .2s;
  box-shadow: rgba(36, 92, 124, 10%) 0 0 0 .125em;
  text-decoration: none;
  color: white;
}

.apply-button:hover {
    background: #6C868F;
    text-decoration: none;
    color: white;
  }

  .simple_form.new_job_response {
    box-sizing: border-box;
    height: 80%;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px lightgray;
  }

  .apply-form {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }



h1 {
  font-size: 32px;
}

.form-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px lightgray;
}

.form-header-text {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-header .job-logo {
  width: 60px;
  height: 60px;
}
.fullname {
  display: flex;
  column-gap: 5px;
}

.firstname, .lastname {
  flex: 50%;
}
