.apply-button {
  text-align: center;
  background-color: #245C7C;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  padding: 5px 20px;
  transition: background-color .2s,
  background-position .2s;
  box-shadow: rgba(36, 92, 124, 10%) 0 0 0 .125em;
  text-decoration: none;
  color: white;
}

.apply-button:hover {
    background: #6C868F;
    text-decoration: none;
    color: white;
  }

  .simple_form.new_job_response {
    background-color: rgba(74, 76, 79, 0.50);
    border-radius: 20px;
    box-sizing: border-box;
    height: 80%;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    color: white;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.6);

  }

  .apply-form {
    text-align: center;
  }

  .form-container {
    background-image: linear-gradient(black, grey);
  }

h1 {
  font-size: 32px;
}
