.job-card-index {
  border-bottom: 1px solid hsla(240, 4%, 95%, 0.863);;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}
.job-card-logo-index {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.08);
  border: 1px solid grey;
}

.index-card-contents {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.job-card-image-and-contents {
  display: flex;
  align-items: center;
}

.card-buttons {
  display: flex;
}

.job-card-logo {
  height: 50px;
}

.job-card-index-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin: 15px 0 5px 10px;
}

.job-card-index-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 10px 10px 10px;
}

.job-card-index-location {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 10px;
  color: #828282;
}

.fa-location-dot {
  margin-right: 5px;
}

.card-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.job-card-index-more-info {
  border-radius: 30px;
}

.job-card-index-apply {
  border-radius: 30px;
  margin-top: 10px;
}

.job-card-index-more-info:hover {
  background-color: #7E73FF;
  color: white
}

.job-card-index-apply:hover {
  background-color: #7E73FF;
  color: white
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}


// form for job

.form-check .form-check-input {
  margin: 0 !important;
}

// show job contacts

.job-show-contacts a {
  text-decoration: underline;
}

.job-show-contacts a:hover {
  color: black;
}
