.job-image {
  background-repeat: no-repeat;
  height: 200px;
  width:100%;
  object-fit: cover;
}

.job-posting {
  position: relative;
  left: 16px;
  top: -20px;
  width: 40px;
}

.job-logo {
  position: absolute;

}
