.job-posting {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

/* job-posting is divided in 2 parts: side and main */
.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 80%;
  background-color: white;
  padding: 20px;
}


.job-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Apply Button */

.main {
  position: relative;
}
.main .apply-button {
  position: absolute;
  right: 20px;
  top: 10px;

  /*style button*/
  background-color: #245C7C;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  padding: 5px 20px;

  a {
    text-decoration: none;
    color: white;
  }
}

.main .apply-button:hover {
    background: #192D40;
    text-decoration: none;
    color: white;
  }


//* JOB KEY POINTS *//
.job-key-points {
  width: 90%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 10px 0px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);

  h5 {
    font-size: 13px;
    font-weight: bold;
  }

  p {
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    transform: scaleY(1.3);
    font-weight: bold;
    color: #00ADB5;
  }
}
