.job-posting {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 10px 10px;
  // border-radius: 10px;
  // box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

/* job-posting is divided in 2 parts: side and main */
.side {

  align-items: center;
  flex: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 80%;
  background-color: white;
  padding: 20px;
}

.job-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow:  rgba(0, 0, 0, 8%) 10px 10px 5px -6px;
}

/* Apply Button */

.main {
  position: relative;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.main .btn.btn-light.job-card-apply {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: #042454;
  color: white;



  a {
    text-decoration: none;
  }
}

.btn.btn-light.job-card-apply:hover {
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 70px;
}

//* DELETE BUTTON *//

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;

}

//* JOB KEY POINTS *//
.job-key-points {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 10px 0px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  // box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);

  h5 {
    font-size: 13px;
    font-weight: bold;
  }

  p {
    font-size: 13px;
    margin-left: 15px;
  }

}

.job-key-points .job-card-index-location {
  color: #828282;
}

.language {
  margin-left: 0px;
}

/* Job Summary */

.job-summary {
  border-bottom: solid 1px lightgray;
  padding: 30px 50px 10px 10px;
}

.job-summary, .job-content, .job-description {
  font-family: 'Poppins', sans-serif;
  h5 {
    font-size: 18px;
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }
}

/* JOB DESCRIPTION */
.job-description {
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
}

.job-show-contacts a {
  text-decoration: none !important;
}

.job-show-contacts h6 {
  font-weight: bold;
}

.fa-eye:before {
  font-size: 13px;
  margin-left: 5px;
}

.fa-pen:before {
  font-size: 10px;
}

.fa-pen:hover {
  color: black;
}

button {
  color: lightgrey;
  border: 0px;
  background-color: white;
  border-radius: 10px;
}


/* class for toggle bookmark button */
.red {
  color: red;
}

.bookmark-button {
  position: absolute;
  right: 100px;
  top: 15px;
  text-align: right;

  h5 {
    font-size: 12px;
  }
}
