.profile-container{
 display: flex;
 flex-direction: column;
 padding: 50px;
 background: $background-light;
 border-radius: 15px;
 margin: 15px;
 align-items: center;
 justify-content: center;
}

.outer_box{
  display: flex;
  flex-direction: row;
}

.left{
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  max-width: 800px;
}

.first-row{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  border-left: $background-dark-2 solid 15px;
}

.name {
  padding-right: 80px;
  // width: 600px;
  height: 200px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
}

.name h2{
  font-family: $Home-font-family;
  color: $home-collor-dark;
  margin: 0;
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name h4{
  font-family: $Home-font-family;
  color: $home-collor-dark;
  margin: 0;
  font-weight: 200;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name h6{
  font-family: $Home-font-family;
  color: $home-collor-dark;
  margin: 0;
  font-weight: 100;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name p{
  font-family: $Home-font-family;
  color: $home-collor-dark;
  margin: 0;
  font-weight: 100;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.second-row{
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin-bottom: 30px;
  margin-top: 50px;
  //border-radius: 15px;
  // border: $home-collor-normal solid 1px;
  padding-left: 60px;
  //box-shadow: 0px 0px 5px $box-shadow;
  border-left: $background-dark-2 solid 15px;
}

// //.column-left{
  //   //width: 75%;
  //   display: flex;
//   flex-direction: column;
//   //box-shadow: inset 0px 5px 5px $box-shadow;
//   padding: 10px;
//   border-radius: 15px;
//   margin-right: 20px;
//   //align-items: center;
//   //text-align: center;
//   padding-left: 30px;
//   padding-right: 30px;
// }

.rigth{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-right{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background-dark-2;
  border-radius: 15px;
  padding: 40px;
  color: $text-light;
  text-align: center;
  box-shadow: 0px 0px 5px $box-shadow;
}

.avatar-profile-custom{
  height: 280px;
  width: 280px;
  box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
  animation: animate 7s ease-in-out infinite;
  // border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  // -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNEMEUyRkYiIGQ9Ik00MC40LDIzLjFDMjYuNCw0Ny41LC0yOC44LDQ4LC00Mi40LDIzLjdDLTU1LjksLTAuNSwtMjgsLTQ5LjUsLTAuNCwtNDkuN0MyNy4yLC00OS45LDU0LjQsLTEuNCw0MC40LDIzLjFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMTAwKSIgLz4KPC9zdmc+Cg==);
  // -webkit-mask-repeat: no-repeat;
  // background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding: 0;
  transition: all 1s ease-in-out;
}

.info{
  font-family: $Home-font-family;
  color: $background-dark-2;
  padding-bottom: 10px;
}

.top{
  margin-top: 20px;
}

.bottom{
  margin-bottom: 20px;
}

.info h4{
  font-weight: 700;
  font-size: 25px;
}

.info p{
  font-weight: 200;
  font-size: 20px;
}

.socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $text-light;
  font-size: 40px;
  margin-top:40px;
  border-top: $home-collor-normal solid 1px;
  padding-top: 40px;
  width: 250px;
}

.skills{
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $Home-font-family;
  color: $home-collor-dark;
  font-weight: 500;
  font-size: 22px;
  color: $text-light;
  padding-top: 40px;
  margin-top:40px;
  border-top: $home-collor-normal solid 1px;
  width: 250px;
}

.skill-list{
  font-weight: 200;
  font-size: 20px;
}

.actions{
  margin-top:40px;
  padding-top: 40px;
  border-top: $home-collor-normal solid 1px;
  margin-bottom: 40px;
  width: 250px;
}

.clickable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $Home-font-family;
  color: $home-collor-dark;
  justify-content: end;
}


.fab{
  color: $background-dark-2;
  font-size: 20px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
  transition: 0.3s ease;
  color: $text-light;
}

.fa{
  color: $background-dark-2;
  font-size: 20px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
  transition: 0.3s ease;
  color: $text-light;
}

.fab:hover{
  color: $backgrund-blue;
  font-size: 20px;
}

.fa:hover{
  color: $backgrund-blue;
  font-size: 20px;
}

.edit-button{
  font-family: $Home-font-family;
  background: $home-collor-button;
  padding: 20px;
  border-radius: 50px;
  border: none;
  color: $home-collor-normal;
  font-weight: bold;
  margin-top: 20px;
  transition: 0.4 ease;
}

.edit-button:hover{
  font-size: 20px;
}

@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 60% 70% 40%/50% 60% 30% 60%;
  }
}
